NEXT_PUBLIC_SITE_URL=https://seudominio.com
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX
WORDPRESS_GRAPHQL_ENDPOINT=https://wp.seudominio.com/graphql
WORDPRESS_SITE_URL=https://wp.seudominio.com
REVALIDATE_SECRET=change-me
LEAD_WEBHOOK_URL=https://hooks.seudominio.com/lead
LEAD_WEBHOOK_TOKEN=change-me
LEAD_REDIRECT_URL=https://wa.me/5511999999999
